*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Overpass', sans-serif;
    background-color: #eae5e3;
}

a{
    text-decoration: none;
}

main{
    color: #203449;
}

#main-header{
    width: 100%;
}

.main-brand{
    display: inline-block;
    width: 20%;
    padding: 50px 0 20px 100px;
}

#main-nav{
    display: inline-block;
    position: relative;
    width: 70%;
    bottom: 40px;
}

#main-nav__menu{
    list-style: none;
    text-align: right;
}

.nav-item{
    display: inline-block;
    margin: 30px;
}

.nav-item a{
    text-decoration: none;
    color: rgb(36, 36, 36);
    font-size: 18px;
}

#main-nav__menu .current{
    text-decoration: underline;
    font-weight: bold;
}

.nav-item--cta{
    background-color: rgb(241, 186, 47);
    padding: 15px 30px;
}

.nav-item--cta:hover{
    border: 1px solid rgb(174, 134, 33);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#first-project-block{
    width: 100%;
    height: 50%;
}

.project-description{
    font-size: 18px;
    width: 80%;
    margin: auto;
}

.project-description > div{
    margin-bottom: 200px;
}

.project-description_text{
    width: 40%;
    height: 400px;
    vertical-align: top;
    display: inline-block;
    letter-spacing: 0.2px;
    word-spacing: 1px;
}

.project-description_text h1{
    margin: 0;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 40px;
}

.project-description_text .project-description_title{
    font-weight: bold;
}

.project-description_photo{
    width: 50%;
    display: inline-block;
    filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.6));
    /* it is possible to round corner on clip path? */
}

.project-description_photo img{
    height: 500px;
    clip-path: polygon(27% 0%, 90% 0%, 75% 100%, 13% 100%);
}

.project-description__second-block{
    width: 60%;
}

.project-description__second-block .service-button{
    padding: 15px 30px;
    border: 3px solid #203449;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: #203449;
    display: block;
    float: left;
    width: 33%;
    margin: auto;
    margin-top: 20px;
}

.project-description__second-block .service-button:hover,
.project-description__second-block .service-button:active{
    background-color: #fff9f7;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.project-description_quotations{
    margin-top: 20px;
    width: 35%;
    display: inline-block;
    font-size: 15px;
    font-style: italic;
}

.project-description_quotations h2,
.project-description_quotations h4{
    font-style: normal;
    margin: 0;
}

.partners-footer{
    background: white;
    color: rgb(50, 50, 50);
    text-align: center;
    margin: 0;
    padding-top: 50px;
}

.partners-footer img{
    display: inline-block;
    width: 20%;
    vertical-align: middle;
    margin: 70px;
}

footer{
    background-color: #203449;
    color: white;
    text-align: center;
}

#footer__brands{
    margin-top: 40px;
    display: inline-block;
    width: 30%;
}

.footer__brand{
    margin: 20px;
    width: 30%;
    vertical-align: middle;
}

#footer__link-lists{
    display: inline-block;
    vertical-align: top;
    width: 60%;
}

.footer__link-list{
    padding: 0;
    margin: 15px 30px;
    display: inline-block;
    width: 20%;
    list-style: none;
    vertical-align: top;
}

.footer__link-list h4{
    text-align: left;
}

.footer__link-list > li{
    text-align: left;
}

.footer__link-list a{
    color: rgba(255, 255, 255, 0.5);
}

.footer__link-list a:hover,
.footer__link-list a:active{
    color: white;
}

#footer__rights{
    text-align: left;
    width: 100%;
    color: #eae5e3;
    font-size: 10px;
}